<div
    class="flex items-center justify-between pt-3 pb-3 px-15 mx-15 border-b-[1.5px] border-wild-sand-900 text-wild-sand-950"
>
    <img src="assets/svg/logo-pequeno.svg" alt="Urban Soul Logo" class="w-[150px]" />
    <nav class="text-lg flex items-center justify-center text-wild-sand-950 font-semibold ">
        <a
            routerLink="/home"
            routerLinkActive="text-[#86654b]"
            class="mr-15 hover:text-shadow-2xs hover:underline"
            >Home</a
        >
        <a
            routerLink="/contact"
            routerLinkActive="text-[#86654b]"
            class="mr-15 hover:text-shadow-2xs hover:underline"
            >Contact</a
        >
        <a
            routerLink="/products"
            routerLinkActive="text-[#86654b]"
            class="mr-0 hover:text-shadow-2xs hover:underline"
            >Products</a
        >
    </nav>
</div>
