{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "embeddedLanguageFormatting": "off",
    "singleQuote": false,
    "semi": true,
    "quoteProps": "preserve",
    "bracketSpacing": false,
    "trailingComma": "all",
}
