<div class="flex flex-col items-center min-h-[80vh]">
    <h1 class="text-4xl font-bold ">Online store</h1>
    <p class="text-2xl mt-5 text-center px-10">
        Online store Urban Soul is a fashion brand that stands out for its focus on selling
        oversized t-shirts. Founded with the vision of offering clothing that blends contemporary
        urban style with comfort and personal expression, Urban Soul has captured the essence of
        modern fashion.
    </p>
    <app-product-list />
</div>
