<div class="flex flex-col items-center justify-center min-h-[60vh] ">
    <img
        src="assets/img/logo-principal.webp"
        alt="Logo Principal"
        class="w-auto animate-spin-slow"
    />
    <div class="grid grid-cols-5 text-center items-center justify-items-center mt-5 gap-5 w-[90%]">
        <p class="text-lg text-justify p-5 col-span-2">
            Urban Soul desea liderar la transformación hacia una moda más sostenible y accesible,
            ofreciendo productos contemporáneos de alta calidad que reflejen las últimas tendencias
            sin comprometer el respeto por el medio ambiente.
        </p>
        <img
            src="assets/img/intro1.png"
            alt="Imagen Referencial 1"
            class="w-auto h-50 object-contain mt-5"
        />
        <img
            src="assets/img/intro2.png"
            alt="Imagen Referencial 2"
            class="w-auto h-50 object-contain mt-5"
        />
        <img
            src="assets/img/intro3.png"
            alt="Imagen Referencial 3"
            class="w-auto h-50 object-contain mt-5"
        />
    </div>
</div>
