<div class="grid grid-cols-2 min-h-[60vh] px-25">
    <div class="flex-col items-center justify-center p-4">
        <h1 class="text-4xl font-bold">Contacto</h1>
        <p class="text-1xl mt-5 text-justify ">
            En Urban Soul, nos comprometemos a brindar un servicio de atención al cliente
            excepcional. Entendemos que cada cliente es único y valoramos la oportunidad de
            asistirlo en cualquier consulta o problema que pueda surgir. Por favor, tenga en cuenta
            que sus comentarios son importantes para nosotros y nos esforzaremos por responder a su
            mensaje lo antes posible.
        </p>
        <ul class="text-1xl mt-5 text-justify font-semibold">
            <li class="flex items-center px-5 py-2.5">
                <img
                    src="assets/svg/mail.svg"
                    alt="E-Mail"
                    class="w-[50px] pe-2.5"
                />jhon1_alvarado&#64;outlook.com
            </li>
            <li class="flex items-center px-5 py-2.5">
                <img src="assets/svg/phone.svg" alt="Phone Number" class="w-[50px] pe-2.5" />+51 924
                577 291
            </li>
            <li class="flex items-center px-5 py-2.5">
                <img
                    src="assets/svg/instagram.svg"
                    alt="Instagram"
                    class="w-[50px] pe-2.5"
                />&#64;UrbanSoul
            </li>
            <li class="flex items-center px-5 py-2.5">
                <img
                    src="assets/svg/facebook.svg"
                    alt="Facebook"
                    class="w-[50px] pe-2.5"
                />UrbanSoul
            </li>
        </ul>
    </div>
    <div class="flex flex-col justify-center items-center h-auto p-8 max-w-[550px]">
        Form coming soon...
    </div>
</div>
