<div class="border border-gray-300 bg-white shadow-sm rounded-lg w-75 h-90 p-5">
    <div class="flex items-center justify-center h-auto">
        @if (product().urlImage == "") {
            <img
                src="assets/img/not-found.jpg"
                alt="Not Found"
                (click)="navigateToProductDetail()"
                class="w-auto h-55 object-contain hover: cursor-pointer"
            />
        } @else {
            <img
                src="{{ product().urlImage }}"
                alt="{{ product().name }}"
                (click)="navigateToProductDetail()"
                class="w-auto h-55 object-contain hover: cursor-pointer"
            />
        }
    </div>

    <h1 class="pt-4" (click)="navigateToProductDetail()">
        <span class="hover: cursor-pointer">{{ product().name }}</span>
    </h1>
    <p class="pt-3 font-bold">Price: {{ product().price }}</p>
</div>
