<div
    class="flex flex-col items-center justify-center border-t-1 pt-10 pb-10 bg-wild-sand-950 text-wild-sand-50"
>
    <h1 class="font-semibold">Síguenos</h1>
    <ul class="flex justify-center space-x-10 mb-5 border-b-[1.5px] w-[90%] pb-5">
        <li>
            <img src="assets/svg/facebook.svg" alt="Facebook" class="w-[30px] pt-2 invert" />
        </li>
        <li><img src="assets/svg/instagram.svg" alt="Instagram" class="w-[30px] pt-2 invert" /></li>
        <li><img src="assets/svg/tiktok.svg" alt="TikTok" class="w-[30px] pt-2 invert" /></li>
    </ul>
    <p>&copy; 2025 Urban Soul. All rights reserved.</p>
</div>
